<div class="container-fluid bg-search">
  <div class="bg-search-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Project Overview</h1>
          <p class="text-left">
            In this project, I have developed a web interface that provides two means of retrieval, namely query and browsing. Utilizing these two means, users are able to look through the available images in the database to reach their intended content.
            <br/>
            The so-called page zero of this website (Figure 1) is designed to meet two users’ potential demands. Those who have a particular subject in mind can directly specify a query via uploading a photo which results in N1 most similar subjects. From the resulting page, users are also able to refine their queries by browsing the presented results, such that, by clicking on one of the results, the most N corresponding similar photos will be shown. On the other hand, for the users who have not prior knowledge of the subjects they are looking for, on the page zero, a number of random photos additionally appear. Clicking on one of these images, the same browsing process will be initiated and iterative navigation in the database can be performed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>